<form action="/login" method="POST">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control form-control-sm" placeholder="käyttäjänimi" name="username">
        </div>
        <div class="col">
            <input type="password" class="form-control form-control-sm" placeholder="salasana" name="password">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary btn-sm">kirjaudu</button>
        </div>
    </div>
</form>