<!doctype html>
{% extends "layout.html" %}
{% block title %}
    tilin tiedot
{% endblock %}
{% block content %}
    {% if session.username == username or session.user_group == "admin" %}
        <p>Tällä sivulla näet itseäsi koskevat tiedot ja voit muuttaa niitä</p>

        {% if session.username != username %}
            <div class="alert alert-warning" role="alert">
                Huomaa että olet ylläpitäjä ja toisen käyttäjän sivuilla
            </div>
        {% endif %}

        <br>

        <p>Käyttäjänimi: {{ username }}</p>
        <p>Käyttäjäryhmä: {{ user_group }} </p>

        <br>

        <form action="/account/{{ username }}" method="POST">
            <div class="form-group">
                <label for="username">Uusi käyttäjänimi</label>
                <input type="text" class="form-control" id="username"
                       name="new_username">
            </div>
            <input type="submit" value="Vaihda käyttäjätunnus" class="btn btn-primary">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="action" value="update username">
        </form>

        <br>

        <form action="/account/{{ username }}" method="POST">
            <div class="form-group">
                <label for="old_password">Vanha salasana</label>
                <input type="password" class="form-control" id="old_password"
                       name="old_password">
            </div>
            <div class="form-group">
                <label for="new_password">Uusi salasana</label>
                <input type="password" class="form-control" id="new_password"
                       name="new_password">
            </div>
            <input type="submit" value="Vaihda salasana" class="btn btn-primary">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="action" value="update password">
        </form>

        {% if session.user_group == "admin" %}
            <br>
            <form action="/account/{{ username }}" method="POST">
                <div class="form-group">
                    <label for="user_groups">Valitse uusi käyttäjäryhmä</label>
                    <select class="form-control" id="user_groups" name="new_user_group">
                        <option>basic</option>
                        <option>approved</option>
                        <option>admin</option>
                    </select>
                </div>
                <input type="submit" value="Vaihda käyttäjäryhmää" class="btn btn-primary">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="action" value="update user_group">
            </form>

        {% endif %}

        <br>
        <form action="/account/{{ username }}" method="POST">
            <input type="submit" value="Poista tili" class="btn btn-danger">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="action" value="remove account">
        </form>
    {% else %}
        <p>Sinulla ei ole valtuuksia tälle sivulle tai sivua ei ole olemassa</p>
    {% endif %}
{% endblock %}}
