<!doctype html>
{% extends "layout.html" %}
{% block title %}
    ylläpitäjän työkalut
{% endblock %}
{% block content %}
    <h4><a href="/show_messages">Saapuneet viestit</a></h4>
    <br>
    <h4>Käyttäjien tiedot</h4>
    <p>Katsoaksesi muiden tietoja valitse ensin käyttäjä alla olevasta listasta:</p>
    <form action="/admintools" method="POST">
        <div class="form-group">
            <label for="query">Käyttäjä:</label>
            <select class="form-control" id="query" name="username">
                {% for user in users %}
                    <option>{{ user[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Siirry käyttäjän tietoihin">
    </form>
{% endblock %}}