<!doctype html>
{% extends "layout.html" %}
{% block title %}
    sisällön luonti
{% endblock %}
{% block content %}
    <p>Tällä sivulla luot uuden pitkän postauksen</p>
    <br>
    <form action="/create_long_post" method="POST" enctype="multipart/form-data">

        <br>

        <div id="fields">
            <div class="form-group">
                <label for="title">Postauksen otsikko:</label>
                <input type="text" class="form-control" id="title">
            </div>
            <br>
        </div>

        <br>

        <button type="button" onclick="newParagraph()">Lisää tekstikappale</button>
        <button type="button" onclick="newPicture()">Lisää kuva (max 500kb)</button>

        <br>
        <br>

        <input type="hidden" name="count" value="0" id="count">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Luo postaus">

    </form>

    <script src="longPostMaker.js"></script>
{% endblock %}}