<!doctype html>
{% extends "layout.html" %}
{% block title %}
    sisällön luonti
{% endblock %}
{% block content %}
    <script src="../static/longPostMaker.js"></script>

    <p>Tällä sivulla luot uuden pitkän postauksen</p>
    <br>
    <form action="/create_long" method="POST" enctype="multipart/form-data">

        <br>

        <div id="fields">
            <div class="form-group">
                <label for="title">Postauksen otsikko:</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <br>
        </div>

        <br>

        <button type="button" class="btn btn-primary" onclick="newParagraph()">Lisää tekstikappale</button>
        <button type="button"class="btn btn-primary" onclick="newPicture()">Lisää kuva</button>

        <br>
        <br>

        <input type="hidden" name="count" value="0" id="count">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" class="btn btn-primary" value="Luo postaus">

    </form>

{% endblock %}}