<!doctype html>
{% extends "layout.html" %}
{% block title %}
    yksityinen
{% endblock %}
{% block content %}
    {% for row in posts %}
        <div class="row">
            {% for post in row %}
                {% if post[0] != "" %}
                    <div class="col-4">
                        <img src="/show/{{ post[0] }}" class="img-fluid" alt="{{ post[1] }} ">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>
    {% endfor %}
{% endblock %}