<!doctype html>
{% extends "layout.html" %}
{% block title %}
    tilin luonti
{% endblock %}
{% block content %}
    <p>Tällä sivulla luot uuden käyttäjän. Käyttäjänimesi voi koostua kirjaimista a-z ja numeroista 0-9,
        pituuden tulisi olla 3-20 merkkiä. Salasanassa on samanlainen rajoitus, mutta pituuden tulisi olla 10-30
        merkkiä</p>
    <form action="/signup" method="POST">
        <label for="username">Anna käyttäjänimesi:</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Anna salasanasi:</label>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" class="btn btn-primary" value="Rekisteröidy">
    </form>
{% endblock %}}